h1{
    text-align: center;
}

*{
    box-sizing: border-box;
}


body{
    margin:0;
    background-color: #ffffff;
}

header{
    height: calc (100vh - 150px);
    background: #ffefe7;
    image-orientation: calc(100vh - 150px);
    image-orientation: no-repeat center/80%;
}


ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 30px;

}

nav{
    display: flex;
    justify-content: space-around;
    margin: auto 30px;

}



nav ul li a{
    text-decoration: none;
    color: #ff3131;
} 


p {
    color: #000; 
    text-align: justify;
    justify-content: space-around;
    text-indent: 30px;
}