h1{
    text-align: center;
}
body{
    margin:0;
    background-color: #ffffff;

}
header{
    height: calc (100vh - 150px);
    background: #ffefe7;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li{
    margin: 0 30px;

}

nav{
    display: flex;
    justify-content: space-around;
    margin: auto 30px;

}

nav ul li a{
    text-decoration: none;
    color: #ff3131;
} 

p {
    color: #000; 
}
